*
!.gitignore

!Wallpapers/
!Wallpapers/**/*

!.config/
!.config/alacritty/
!.config/alacritty/**/*
!.config/hypr/
!.config/hypr/**/*
!.config/micro/
!.config/micro/**/*
!.config/swww/
!.config/swww/**/*
!.config/walker/
!.config/walker/**/*
!.config/waybar/
!.config/waybar/**/*
